<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    
</head>
<body>
        {{>navbar}}

        <!-- main-header -->
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <!-- left -->
                        <div class="col-md-6 col-12 main_header_right align-items-center" >
                               <figure>
                                    <img src="./images/dp.jpg" alt="rohith" class="img-fluid" title="rohith">
                               </figure>
                        </div>
                        <div class="col-md-6 col-12 main_header_left">
                            <p>Welcome to Weather App</p>
                            <h1>I am a <span class="txt_clr">Mern Stack Developer</span>.</h1>
                            <a href="/"><button>Home</button></a>
                        </div>

                        <!-- right -->

                    </div>
                </div>
            </div>
        </div>

        <!-- footer code -->
       {{>footer}}
</body>
</html>

