<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
         <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <!-- left -->
                        <div class="col-md-6 col-12 main_header_right align-items-center" >
                               <figure>
                                    <img src="../../public/images/bg1.jpg" alt="roddhith" class="img-fluid" title="rohith">
                               </figure>
                        </div>
                       
                        <!-- right -->

                    </div>
                </div>
            </div>
        </div>
    {{>footer}}
</body>
</html>